---
import Layout from "@layouts/Layout.astro";
import ProjectsListLight from "@components/projectsList/projectsListLight.astro";
import PostsListLight from "@components/postsList/postsListLight.astro";
import Link from "@components/contactLink.astro";
const classList = [
  "opacity-0",
  "animate-slideUp",
  "animate-fill-both",
  "font-sans",
  "font-medium",
  "mt-8",
];
---

<Layout title="yi">
  <article class="prose mainContainer">
    <section class:list={classList}>
      <p>
        Hey! I'm yi, hailing from somewhere on this beautiful Earth—an oxygen
        breather,
        <span class="font-serif italic decoration-none"
          >user interface builder</span
        >, and
        <a
          class="font-serif italic decoration-none inline-block"
          target="_blank"
          href="https://gallery.olcchi.me"
        >
          freelance photographer</a
        >.
      </p>
    </section>
    <section class:list={classList}>
      <ProjectsListLight />
    </section>
    <section class:list={classList}>
      <PostsListLight />
    </section>
    <section class:list={classList}>
      <p id="blockTitle">Now</p>
      <p>
        I am currently in a stage of "wild growth," a phase of discovery in a
        new field that I love. Every day, I am focused on bringing the ideas
        that come to mind to life, gathering valuable experience and endless
        fascination from both successes and failures—all of which fuel more
        elegant implementations of my next set of ideas.
      </p>
      <p>
        I find myself captivated by qualities that resonate with my own
        aspirations across graphic design, user interfaces, interactive
        animation, sound design, film, literature, and photography. Anything
        that evokes an aesthetic similar to works like
        <a
          target="_blank"
          href="https://open.spotify.com/track/4nat4yXmaVsO5Cht7r4lIq?si=475d14ab88a74b96"
          class="inline font-serif italic decoration-none"
        >
          Weight of the World
        </a> by Suede and the movie <a
          target="_blank"
          href="https://www.imdb.com/title/tt0449467/"
          class="inline decoration-none font-serif italic"
        >
          Babel
        </a> appeals to me.
      </p>
      <p class="">
        Of course, the most important thing is to <span class="font-serif"
          >stay agile and build well-designed user interfaces.</span
        >
      </p>
    </section>
    <section class:list={classList}>
      <Link />
    </section>
  </article>
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const sections = document.querySelectorAll("article.mainContainer section");
    sections.forEach((section, index) => {
      if (section instanceof HTMLElement) {
        // Increases delay quadratically for a more natural staggered appearance
        const delay = 50 + index * 100 * ((index + 1) / 2);
        section.style.animationDelay = `${delay}ms`;
      }
    });
  });
</script>

<style is:global>
  article a {
    @apply linkBase;
  }
  #blockTitle {
    @apply md:text-base font-extrabold italic;
  }
  #blockTitle::before {
    content: ":: ";
  }
</style>
