---
import { projects } from "./_projectList";
---

<div id="postsListWrapper" class="pt-5 animate-delay-150">
  <section class="grid md:grid-cols-2 gap-4 pt-5 pb-5">
    {
      projects.map((project) => {
        return (
          <div
            id="project"
            class:list={["grid-span-2", "flex", "flex-col", "pb-5", "gap-1"]}
          >
            <div class=" flex items-center gap-2">
              <a
                target="_blank"
                href={project.repoLink}
                class="linkBase italic font-sans font-bold w-min min-w-max border-none"
              >
                {project.projectName}
              </a>
              <div class="flex items-center">
                <a
                  target="_blank"
                  href={project.repoLink}
                  class="font-bold font-sans opacity-50 hover:opacity-100 i-ph-github-logo block transition-opacity"
                />
                <a
                  target="_blank"
                  href={project.previewLink}
                  class="font-bold font-sans opacity-50 hover:opacity-100 i-ph-link block transition-opacity"
                />
              </div>
            </div>
            <p class="font-sans text-base text-sm">{project.description}</p>
          </div>
        );
      })
    }
  </section>
</div>

<style is:global>
  #project {
    @apply md:transition-all md:ease-in-out md:duration-300;
  }
  #postsListWrapper:hover #project {
    @apply opacity-40;
  }
  #postsListWrapper:hover #project:hover {
    @apply opacity-100 md:duration-100;
  }
</style>
